
:root {
  --jdlx-panel__handler-width: 8px;
}

.jdlx-panel__wrapper {
  position: relative;
    height: 100%;
  width: 100%;
}

.jdlx-panel__wrapper--vertical {
  display: flex;
}


.jdlx-panel__wrapper--horizontal {
  position: relative;
  display: flex;
  flex-direction: column;
}



.jdlx-panel__panel {
  position: relative;
}


.jdlx-panel__panel--second {
  position: relative;
  background-color: #fff;
  flex-grow: 1;
}

.jdlx-panel__wrapper--vertical .jdlx-panel__panel--second {
  padding-left: var(--jdlx-panel__handler-width);
}

.jdlx-panel__wrapper--horizontal .jdlx-panel__panel--second {
  padding-top: var(--jdlx-panel__handler-width);
}



.jdlx-panel__handler {
  background: #2A2A2A;
  z-index:1000;
  position: absolute;
}



.jdlx-panel__wrapper--vertical .jdlx-panel__handler {
  width: var(--jdlx-panel__handler-width);
  height: 100%;
  top: 0;
  left: 0;
  cursor: col-resize;
  border-left: solid 1px #505759;
  border-right: solid 1px #505759;
}

.jdlx-panel__wrapper--horizontal .jdlx-panel__handler {
  height:var(--jdlx-panel__handler-width);
  width: 100%;
  top: 0;
  left: 0;
  cursor: row-resize;
  border-top: solid 1px #505759;
  border-bottom: solid 1px #505759;
}